.container
{
    width: 90%;
    overflow: auto;
    margin: auto;
}

header
{
    background-color: orange;
    width: 100%;
    
   
    
}
body
{
    background-color: bisque;
}

#branding
{
    font-family: sans-serif;
    text-align: left;
    padding-bottom: 20px;
}


.form button
{
    width: 200px;
    height: 50px;
    color: orange;
    background-color: green;
}
.form
{
   
    text-align: center;
    width: 25px;
    padding-left: 40%;
    display: inline;
    
    padding-top: 50px;
    
}


.form label
{
    margin-bottom: 20px;
}
 .form input
{
    height: 30px;
    margin-bottom: 20px;
    width: 350px;
    color: red;
    padding-top: 3px;
    text-decoration-color: black;
    border-spacing: 200px;
}